{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
<!-- Prova -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block page_title %}{% endblock %}</title>

        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/logo.png" />

        {% block css %}

        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">
        <!--<link href="{{ STATIC_URL }}css/fbposter.css" rel="stylesheet">-->


        <!--
        {% load compress %}
        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        {% endcompress %}
        -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet/less" href="{{ STATIC_URL }}css/main.less" />

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        {% endblock %}

        <!-- Extends css libraries -->
        {% block ext_css %}{% endblock ext_css %}

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        
        <nav class="navbar navbar-inverse navbar-fixed-top" id="nav_top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav">
                        <a href="#" class="navbar-brand visible-xs"><img src="{{ STATIC_URL }}img/logo.png" id="logo-xs" alt="logo"/></a>
                    </div>
            
                </div>
          
                <div class="navbar-collapse collapse">
                    <ul class="nav nav-justified">
                        <li><a href="/prova/">Home</a></li>
                        <li><a href="/prova/product/">{% trans "Product" %}</a></li>
                        <li><a href="/prova/service/">{% trans "Service" %}</a></li>
                        <li class="li-brand"><a class="" href=""><img id="logo" src="{{ STATIC_URL }}img/logo.png" alt="logo"/></a></li>
                        <li><a href="/prova/order/">{% trans "Contacts" %}</a></li>
                        <li><a href="#">About</a></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Language <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      ...
    </ul>
  </li>
                    </ul>
                </div>
            </div>
        </nav>
 
        {% block header %}{% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block javascript_library %}
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
            <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
            <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
            <script src="{{ STATIC_URL }}js/plugins.js"></script>
            <script src="{{ STATIC_URL }}js/main.js"></script>
        {% endblock javascript_library %}
        
        <!-- Extends javascript libraries -->
        {% block ext_javascript %}{% endblock ext_javascript %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    {% endblock body %}

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="">About us</a></li>
                        <li><a href="">Fornitori</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Contacts</h4>
                    <ul>
                      <li>Pinseri S.r.l.</li>
                      <li>Via Vincenzo Statella 47</li>
                      <li>96100 Siracusa</li>
                      <li>Tel. +39 0931 461964</li>
                      <li>Cel. +39 389 1029649</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Join us on</h4>
                    <ul>
                        <li><a href="mailto:info@pinseri.it"><i class="fa fa-at fa-2x"></i><span>info@pinseri.it</span></a></li>
                        <li><a href=""><i class="fa fa-facebook-square fa-2x"></i><span>Facebook.com/pinseri.food</span></a></li>
                        <li><a href=""><i class="fa fa-instagram fa-2x"></i></span>@pinseri.food</span></a></li>
                </div>

            </div>
        </div>
        <div class="join">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>Copyright © Pinseri Srl, 2014</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
