{% extends "base.html" %}
{% load i18n %}
{% block ext_css %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}css/home.less" /> 
{% endblock %}
{% block body_class %}{{ block.super }} home{% endblock %}
{% block header %}
	 <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide hidden-xs">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		<div class="item active">
		  	<img src="{{ STATIC_URL }}img/img1.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img2.jpg" alt="">
		  	<div class="carousel-caption">
		 	 </div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img3.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img4.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</header>
{% endblock %}
{% block content %}
    <!-- Add your site or application content here -->
	<div class="container">
		<div class="row" id="row1">
			<div class="col-md-4 text-center">
				<h2>Mobile-first</h2>
				<img src="{{ STATIC_URL }}img/cuoco.png">
	  			<p>Tablets, phones, laptops. The new 3 promises to be mobile friendly from the start.</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>Mobile-first</h2>
				<img src="{{ STATIC_URL }}img/scatola.png">
	  			<p>Tablets, phones, laptops. The new 3 promises to be mobile friendly from the start.</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>Prova</h2>
				<img src="{{ STATIC_URL }}img/dolce.png">
	  			<p>Tablets, phones, laptops. The new 3 promises to be mobile friendly from the start.</p>
			</div>
		</div>
	</div>
	<div class="backgroundcolor-2">
    	<div class="container">
			<div class="row" id="row2">
				<div class="col-md-6">
					<h2>Un servizio unico. <span>Solo elementi di qualità.</span></h2>
					<p>Design e innovazione si uniscono alla tradizione popolare per dare vita ad un prodotto innovativo, ideato come dessert line per ristoranti o courtesy line per hotel, residence e B&b. <a href="#">Scopri in dettaglio le caratteristiche del nostro servizio</a>.</p>
				</div>
				<div class="col-md-6">
					<img class="img-responsive center-block" src="{{ STATIC_URL }}img/servizio10.png">
				</div>
			</div>
			<hr class="hr-main">
			<div class="row" id="row3">
				<div class="col-md-6">
					<img class="img-responsive center-block" src="{{ STATIC_URL }}img/prodotto.png">
				</div>
				<div class="col-md-6">
					<h2>Un prodotto esclusivo. <span>Solo elementi di qualità.</span></h2>
					<p>Design e innovazione si uniscono alla tradizione popolare per dare vita ad un prodotto innovativo, ideato come dessert line per ristoranti o courtesy line per hotel, residence e B&b. Scopri in dettaglio le caratteristiche del nostro prodotto.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
	        <h1>Order now</h1>
	        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
	        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>
	</div>
{% endblock %}

{% block ext_javascript}
<script>
	$('#myCarousel').carousel();
</script>
