{% extends "base.html" %}
{% load i18n %}
{% block page_title %}Home{% endblock %}
{% block ext_css %}
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}css/home.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
{% endblock %}
{% block body_class %}{{ block.super }}home{% endblock %}
{% block header %}
	 <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide hidden-xs">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
		<div class="item active">
		  	<img src="{{ STATIC_URL }}img/img1.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img2.jpg" alt="">
		  	<div class="carousel-caption">
		 	 </div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img3.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		<div class="item">
		  	<img src="{{ STATIC_URL }}img/img4.jpg" alt="">
		  	<div class="carousel-caption">
		  	</div>
		</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</header>
{% endblock %}
{% block content %}
    <!-- Add your site or application content here -->
	<div class="container">
		<div class="row" id="row1">
			<div class="col-md-4 text-center">
				<h2>{% trans "Gusto" %}</h2>
				<img src="{{ STATIC_URL }}img/cuoco.png">
	  			<p>{% trans "Metodi antichi e ingredienti freschissimi garantiscono il vero sapore della pasta di mandorla della Sicilia" %}</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>{% trans "Design" %}</h2>
				<img src="{{ STATIC_URL }}img/scatola.png">
	  			<p>{% trans "Il biscotto alle mandorle diventa un prezioso omaggio nella sua ricercata confezione" %}</p>
			</div>
			<div class="col-md-4 text-center">
				<h2>{% trans "Tradizione" %}</h2>
				<img src="{{ STATIC_URL }}img/dolce.png">
	  			<p>{% trans "Un proverbio della tradizione accompagna la degustazione regalandoti un'esperienza piacevole ed esclusiva" %}</p>
			</div>
		</div>
	</div>
	<div class="backgroundcolor-2">
    	<div class="container">
			<div class="row" id="row2">
				<div class="col-md-6">
					<h2>{% trans "Un prodotto esclusivo." %} <span>{% trans "Solo elementi di qualità." %}</span></h2>
					<p>{% trans "Il gusto unico e genuino dei biscotti alle mandorle si unisce al design e alla tradizione per dare vita ad un prodotto innovativo. La confezione, smart ed elegante, è ideata per adattarsi ad ogni situazione ed è utilizzabile come dessert line per hotel, ristoranti e B&b. All'interno, un <em>pensiero</em> in dialetto siciliano accompagna la degustazione e caratterizza il nostro prodotto, rendendolo particolare ed esclusivo." %}</o>
					<p><a href="./product/">{% trans "Scopri in dettaglio tutte le caratteristiche del nostro prodotto" %}</a></p>
				</div>
				<div class="col-md-6">
					<a href="./product/"><img class="img-responsive center-block" src="{{ STATIC_URL }}img/prodotto.png"></a>
				</div>
			</div>
			<hr class="hr-main">
			<div class="row" id="row3">
				<div class="col-md-6">
					<a href="./service/"><img class="img-responsive center-block" src="{{ STATIC_URL }}img/servizio10.png"></a>
				</div>
				<div class="col-md-6">
					<h2>{% trans "Un servizio unico." %} <span>{% trans "Spedizioni in tutto il mondo." %}</span></h2>
					<p>{% trans "I migliori pasticceri della Sicilia Orientale ci forniscono giornalmente le paste di mandorla che vengono successivamente confezionate a mano ed imballate con cura per mantenere intatte le confezioni. Effettuiamo spedizioni in tutto il mondo grazie alla qualità della ricetta originale delle paste di mandorla che mantiene il prodotto integro e ben conservato." %}</p>
					<p><a href="./service/">{% trans "Visualizza tutti i dettagli del nostro servizio" %}</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
	        <h1>{% trans "Contattaci" %}</h1>
	        <p class="lead">{% trans "Contattaci per effettuare il tuo ordine, ricevere un preventivo oppure semplicemente per avere maggiori informazioni. </br>Scopri inoltre tutte le nostre offerte." %}</p>
	        <p><a class="btn btn-lg btn-success" href="#" role="button">{% trans "Ordina subito" %}</a></p>
      </div>
	</div>
{% endblock %}

{% block ext_javascript %}
<script>
	$('#myCarousel').carousel();
</script>
{% endblock %}