{% extends "base.html" %}
{% load i18n %}
{% block ext_css %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}css/page.less" /> 
{% endblock %}
{% block body_class %}{{ block.super }}product{% endblock %}
{% block header %}
	
{% endblock %}
{% block content %}
  <div class="backgroundcolor-2">
  	<div class="container page-container">
  		<h1>Il nostro prodotto</h1>
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="{{ STATIC_URL }}img/ingredienti.png">
        </div>
        <div class="col-md-6 col-margined">
          <h2>Una pasta degna di un re</h2>
          <p>
            In Italia la pasta di mandorle o pasta reale è utilizzata nella preparazione di diversi dolci ed è stata
            riconosciuta come prodotto agroalimentare tradizionale siciliano e inserita nella lista dei prodotti agroalimentari tradizionali italiani (P.A.T) dal Ministero delle Politiche Agricole, Alimentari e Forestali
            (Mipaaf). Il dolce ha avuto origine alla fine del 1100, nel convento palermitano della Martorana, annesso alla chiesa di Santa Maria dell'Ammiraglio, che deve il suo nome a Giorgio d'Antiochia, ammiraglio del re
            Ruggero II. La pasta assunse il nome di "reale" in quanto, per la sua bontà, era "degna di un re". La pasta reale costituisce uno dei dolci più rappresentativi della Sicilia, dove i maestri pasticcieri lavorano la mandorla in maniera artigianale con il miele, fino ad ottenere una pura pasta di mandorla,
            che può inoltre essere aromatizzata al limone o all'arancia e ricoperta di zucchero a velo.
          </p>
        </div>
      </div>
      <hr class="hr-main">
      <div class="row">
        <div class="col-md-6 col-margined">
          <h2>La tradizione con te</h2>
          <p>
          I “Pinseri” portano con sè il gusto e la sapienza della tradizione culinaria siciliana. Ogni “Pinseri” è unico e ti regala un proverbio in dialetto siciliano, riportandoti alle atmosfere della
          sua terra d’origine. Scarta il biscotto e leggi il biglietto che trovi al suo
          interno. Una frase in dialetto ti farà sorridere e conoscere le sonorità e il fascino della nostra lingua.
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="{{ STATIC_URL }}img/biglietto verticale.png">
        </div>
      </div>
		</div>
  </div>
{% endblock %}

{% block ext_javascript}
