{% extends "base.html" %}
{% load i18n %}
{% block ext_css %}
    <link rel="stylesheet/less" href="{{ STATIC_URL }}css/home.less" /> 
{% endblock %}
{% block body_class %}{{ block.super }}page{% endblock %}
{% block header %}
	
{% endblock %}
{% block content %}
    <!-- Add your site or application content here -->
	<div class="container">
		<h1>Il nostro Servizio</h1>
    <div class="row">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
		<div class="row">
			<form action="/i18n/setlang/" method="post">
			{% csrf_token %}
			<input name="next" type="hidden" value="{{ redirect_to }}" />
			<select name="language">
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
			<option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
			{% endfor %}
			</select>
			<input type="submit" value="Go" />
			</form>
		</div>
		<div class ="row">
			{% block lang_choose %}
            <ul id="set_lang" class="nav pull-left">
              {% if example_vars.SOLID_I18N_USE_REDIRECTS %}
                {% if LANGUAGE_CODE == 'en' %}
                  <li>
                    <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="en" />
                    <input type="submit" class="lang_active" value="EN" />
                    </form>
                  </li>
                  <li>
                    <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/it{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="it" />
                    <input type="submit" value="IT" />
                    </form>
                  </li>
                {% else %}
                  <li>
                    <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path|slice:'3:'}}" />
                    <input name="language" type="hidden" value="en" />
                    <input type="submit" value="EN" />
                    </form>
                  </li>

                  <li>
                    <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="it" />
                    <input type="submit" class="lang_active" value="IT" />
                    </form>
                  </li>
                {% endif %}
              {% else %}
                    {% if LANGUAGE_CODE == 'en' %}
                      <li><a class="lang_active" href="{{request.get_full_path}}" >EN</a></li>
                      <li><a href="/it{{request.get_full_path}}" >IT</a></li>
                    {% else %}
                      <li><a href="{{request.get_full_path|slice:'3:'}}" >EN</a></li>
                      <li><a class="lang_active" href="{{request.get_full_path}}" >IT</a></li>
                    {% endif %}
              {% endif %}
              </ul>
            {% endblock lang_choose %}
		</div>
	</div>
{% endblock %}

{% block ext_javascript}
<script>
	$('#myCarousel').carousel();
</script>
